<p>Make game</p>
<form action="/makeGame" method="post">
    <input type="text" name="name" value="" placeholder="name">
    <input type="submit" value="Make game">
</form>
<a href="/games">Lobby</a>